body {background: linear-gradient(to right,#7dbce5,#89ae3e);}
h1 {margin-top:2px; margin-bottom:2px;}
#TitlePlaque {background-color:white; width:175px; height:175px; margin-left:auto; margin-right:auto; border-style: outset outset hidden outset; border-width: 6px; border-color:grey; padding-left:15px; padding-right:15px; padding-top:20px; padding-bottom:15px; text-align:center; height:auto; vertical-align:middle;}
#WelcomePlaque {float:left; background-color:white; width:475px; height:125px; margin-left:auto; margin-right:auto; border-style: outset outset outset outset; border-width: 6px; border-color:grey; padding-left:2px; padding-right:2px; padding-top:1px; padding-bottom:1px; text-align:center; height:auto; vertical-align:middle;}
#SmallTitlePlaque {background-color:white; width:75px; height:75px; margin-left:auto; margin-right:auto; border-style: outset outset hidden outset; border-width: 6px; border-color:grey; padding-left:3px; padding-right:3px; padding-top:6px; padding-bottom:1px; text-align:center; height:auto; vertical-align:middle;}
#NavWindow {float:center; background-color:white; width:1420px; margin-left:auto; margin-right:auto; border-style: outset outset outset outset; border-width: 6px; border-color:grey; padding-left:5px; padding-right:5px; padding-top:10px; padding-bottom:5px; text-align:center; height:auto; vertical-align:middle;}
#ErrorWindow {background-color:white; width:1420px; margin-left:auto; margin-right:auto; border-style: hidden outset outset outset; border-width: 6px; border-color:grey; padding-left:5px; padding-right:5px; padding-top:10px; padding-bottom:5px; text-align:center; height:auto; vertical-align:middle;}
#SearchWindow {background-color:white; width:80%; margin-left:auto; margin-right:auto; border-style: outset outset outset outset; border-width: 6px; border-color:grey; padding-left:5px; padding-right:5px; padding-top:10px; padding-bottom:5px; text-align:center; height:auto; vertical-align:middle;}
#InputLocation {margin:auto; padding-top:10px; padding-bottom:10px; padding-left:1px; padding-right:1px; border-style: solid; width:200px; height:60px;}
#NavClick {margin:1px; padding:1px; border-style: solid; width:200px; height:200px; display:inline-block;}
#GoBack {background-color:white; width:20%; margin-left:auto; margin-right:auto; border-style: hidden outset outset outset; border-width: 6px; border-color:grey; padding-left:5px; padding-right:5px; padding-top:10px; padding-bottom:5px; text-align:center; height:auto; vertical-align:middle;}

.collapsible {
text-align:center;
background-color: white;
color: black;
cursor: pointer;
padding: 18px;
margin-left:auto; margin-right:auto;
width: 1400px;
border-style: hidden outset outset outset; border-width: 6px;
text-align: left;
outline: none;
font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
text-align:center;
padding: 0 18px;
background-color: white;
max-height: 0;
width: 1352px;
margin-left:auto; margin-right:auto;
display:inline-block;
border-style: hidden outset outset outset; border-width: 6px;
overflow: hidden;
transition: max-height 0.2s ease-out;
}